/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         CizThemes
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
    Last change:    13/07/2017
-------------------------------------------------------------------
-------------------------------------------------------------------*/

/*==========Setting=========*/
.dbdb_st0{fill:#F15B23;}
.dbdb_st1{fill:#2C97DD;}
.dbdb_st2{fill:#02BC9B;}
.dbdb_st3{fill:#EFCD06;}

.designbold-design-button-block-align-left {
    text-align: left;
}

.designbold-design-button-block-align-center {
    text-align: center;
}

.designbold-design-button-block-align-right {
    text-align: right;
}

.dbdb-design-button{
    border-top: 1px solid #e2e4e7;
    border-bottom: 1px solid #e2e4e7;
    border-right: 1px solid #e2e4e7;
    padding: 3px;
    width: 36px;
    text-align: center;
    background-color: #FFF;
}

.dbdb-design-button>svg {
    margin: auto;
}
.fix-favorite {
    background-color: #fff;

    min-width: 360px;

    font-weight: 400;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;

}

.fix-favorite a:hover {
    text-decoration: none;
    color: inherit;
}

.fix-favorite a {
    color: inherit;
    text-decoration: none;
}

.fix-favorite a:active,
.fix-favorite a:focus {
    text-decoration: none;
    color: inherit;
}

.fix-favorite img {
    max-width: 100%;
}
.fix-favorite {
    position: absolute;
    background-color: #eee;
    padding: 50px 20px 20px 20px;
    top: 30px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    overflow: auto;
    z-index: 9999;
    background-image: url(https://db-static.imgix.net/dbcream/main/images/bgdoctype.jpg);
}

.list-doctype-first {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.list-doctype-first-inner {
    width: 100%;

}

.list-doctype-first h2 {
    font-size: 2rem;
    font-weight: 100;
    color: #fff;
    margin: -20px 0 40px 0;
    text-align: center;
    display: block;
    width: 100%;
}


.col-wrap {
    margin: 30px 0px;
    text-align: center;

}

.col {
    display: inline-block;
    padding: 0px 30px;

}

.clearfix {
    clear: both;
}




.doctype-item {}

.doctype-item:hover a img {
    -webkit-box-shadow: 0px 0px 30px 0px #75CEEF;
    box-shadow: 0px 0px 30px 0px #75CEEF;
    margin-bottom: 0px;

}

.doctype-item:hover .ri-des strong {
    opacity: 1;
}

.ri-img {
    height: 160px;

    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;


}

.ri-img img {

    cursor: pointer;
    display: block;

    margin: 0 auto;
    max-width: 100%;
    @include transition(all);
    max-height: 182px;
    width: auto !important;




}

.ri-des {
    margin: 10px 0px 0px 0px;
    text-align: center;


}

.ri-des p {
    color: #fff;
    font-size: 13px;
    margin: 0px 0px 5px 0px;
}

.ri-des strong {
    font-weight: 300;
    color: #fff;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    opacity: 0;
    font-size: 12px;
}

.name_design {
    cursor: pointer;
    padding-top: 6px;
    white-space: nowrap;
}

.tit_design {
    position: relative;

    color: #fff;

}

.tit_design span {
    margin: 0px 0px 0px 4px;

    color: $active-color;
    font-style: italic;
    font-size: 12px;


}

.tit_design span i {
    position: relative;
    font-size: 10px;
    margin: 0px 0px 0px 0px;
    top: -1px;
}

.add_design {
    background: none;
}



.size_layout {
    opacity: 0;
    font-size: 80%;
    padding-top: 4px;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    color: #fff;
    font-size: $font-size-sm;
}

.slick-recommended-item {



    margin: 0px 0px 70px 0px;




    margin: 15px 0px;
    text-align: center;
    transition: -webkit-transform .5s ease, opacity .3s linear;
    -webkit-transition: opacity .3s linear, -webkit-transform .5s ease;
    transition: opacity .3s linear, -webkit-transform .5s ease;
    transition: transform .5s ease, opacity .3s linear;
    transition: transform .5s ease, opacity .3s linear, -webkit-transform .5s ease;







}


.fs-control-create {
    text-align: center;

}

.my-btn {

    padding: 7px 20px;
    border-radius: 3px;
    border: none;
    color: #fff;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    background-color: #0099fe;
    margin: 20px 0px 0px 0px;
    cursor: pointer;
    display: inline-block;

}

.my-btn:hover {

    background-color: #32adff;
    text-decoration: none;
}

.fs-control-create span {
    display: inline-block;
    color: #999;
    padding: 0px 10px 0px 10px;
}

.fs-control-create a {
    color: #eee;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;

}

.fs-control-create a:hover {
    text-decoration: underline;
}

.favorite-caption {
    padding: 0px;
    margin: 20px 20px 20px 20px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    overflow: hidden;
}

.favorite-caption span {
    display: inline-block;
    position: relative;
    padding: 0px 20px 0px 0px;
}

.favorite-caption span:before {
    content: "";
    width: 2000px;
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    left: 100%;
    position: absolute;
    top: 49%;
}

.fix-favorite .list_design {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 95%;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: end;
    list-style-type: none;
    margin-left: -1ex;
    overflow: hidden;
    transition: -webkit-filter .3s linear, filter .3s linear;
    padding: 10px 20px;

}

.fix-favorite .list_design li {
    margin: 15px 15px;
    text-align: center;
    transition: -webkit-transform .5s ease, opacity .3s linear;
    -webkit-transition: opacity .3s linear, -webkit-transform .5s ease;
    transition: opacity .3s linear, -webkit-transform .5s ease;
    transition: transform .5s ease, opacity .3s linear;
    transition: transform .5s ease, opacity .3s linear, -webkit-transform .5s ease;
    height: auto;
}

.fix-favorite .list_design .block_list_design {
    position: relative;
}

.fix-favorite .list_design li a img {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    max-width: 120px;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    max-height: 182px;
    width: auto;
}

.fix-favorite .list_design .name_design {
    cursor: pointer;
    padding-top: 6px;
    white-space: nowrap;
}

.fix-favorite .list_design .tit_design {
    position: relative;
    color: #fff;
}

.fix-favorite .list_design .tit_design span {
    margin: 0px 0px 0px 4px;
    color: #0099fe;
    font-style: italic;
    font-size: 12px;
}

.fix-favorite .list_design .tit_design span i {
    position: relative;
    font-size: 10px;
    margin: 0px 0px 0px 0px;
    top: -1px;
}

.fix-favorite .list_design .size_layout {
    opacity: 0;
    font-size: 80%;
    padding-top: 4px;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    color: #fff;
    font-size: 0.857rem;
}

.fix-favorite .list_design li:hover a img {
    -webkit-box-shadow: 0px 0px 30px 0px #75CEEF;
    box-shadow: 0px 0px 30px 0px #75CEEF;
    margin-bottom: 0px;
}

.fix-favorite .list_design .add_design:hover .size_layout {
    opacity: 1;
}

.box-dimen-inner .customer-size {
    padding: 20px 0px;
    text-align: center;
}

.box-dimen-inner .customer-size a {
    margin: 5px 0px;
    text-align: center;
    width: auto;
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 2px;
    background-color: #0099fe;
    border-color: #0099fe;
    color: #fff;
    font-weight: bold;
    margin: 0px 0px 0px 20px;
}

.box-dimen-inner .customer-size {
    padding: 20px 0px;
    text-align: center;
}

.box-dimen-inner .customer-size input {
    text-align: center;
    width: 100px;
    margin: 5px 0px;
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0px 5px;
    line-height: 35px;
    border: none;
    outline: none;
}

.box-dimen-inner .customer-size span {
    color: #fff;
    margin: 0px 5px;
    line-height: 35px;
}

.box-dimen-inner .customer-size select {
    margin: 5px 0px;
    text-align: center;
    width: 75px;
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    line-height: 35px;
    height: 35px;
}

.box-dimen-inner .customer-size a {
    margin: 5px 0px;
    text-align: center;
    width: auto;
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 2px;
    background-color: #0099fe;
    border-color: #0099fe;
    color: #fff;
    font-weight: bold;
    margin: 0px 0px 0px 20px;
    line-height: 35px;
    height: 35px;
    padding: 0px 20px;
    cursor: pointer;

}

.box-dimen-inner .customer-size a:hover {
    background-color: #32adff;
}

.box-dimen-inner .customer-size .notify{
    color: #ff6161;
    font-size: 14px;
}

.box-dimen-inner p {
    color: #fff;
    text-align: center;
    font-size: 1.142rem;
}

.choose_doctype_other a {
    color: #0099fe;
}

.alert {
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 0;
    border: 1px solid transparent;
}
.alert-info {
    color: #FFF;
    background-color: #4CAF50;
    border-color: #4CAF50;
}
#DBSDK_notification{
    display: none;
    position: absolute;
    top: 40px;
    right: 20px;
    width: 300px;
    font-weight: 500;
}

#dbsdk_modal_notification {
    padding: 0;
    margin: 0;
    background-color: rgba(19, 18, 18, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    display: none; 
}

#modal_notification {
    display: block;
    position: absolute;
    padding: 50px 20px 20px 20px;
    width: 600px;
    height: 300px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    margin: auto;
    z-index: 9999;
}

#modal_notification .db-loading {
    right: 0;
    background-color: initial;
}
#modal_notification .db-loading>p{
    position: absolute;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    bottom: 40px;
    left: 0;
    right: 0;
}

body.dbwp5 iframe.dbwp5-iframe{
    position: absolute;
    display: none;
    border: 0px none transparent;
    background-color: #FFF;
    margin: 0px;
    padding: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
body.dbwp5.dbwp5-body-open iframe.dbwp5-iframe{
    display: block;
}

.center_horizontally_vertically {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#designit-wordpress5-plugin{ 
    position: relative;
    width: 100%;
    height: 100%; 
}
#designbold_login {
    color: #FFF;
    font-size: 18px;
    padding: 10px 50px;
    background-color: #007bff;
    border: 1px solid #007bff;
}
#designbold_login:hover {
    color: #007bff;
    border: 1px solid #007bff;
    background-color: #FFF;
    transition-duration: 0.3s;
    text-decoration: unset;
}
.designbold-items.attachments-browser .attachments{
    top: 0px;
}
.attachment-info .details.design-info{
    font-size: 14px;
}
.attachment-info .details.design-info .type{
    margin-bottom: 10px;
    font-weight: 500;
}
.attachment-info .details.design-info .description, 
.attachment-info .details.design-info .view_link, 
.attachment-info .details.design-info .edit_link {
    margin-bottom: 10px;
}
.design-info .i-pay, .design-info .i-budget, .view_link, .edit_link {
    width: 50%;
    float: left;
}
.design-info .view_link>a, .design-info .edit_link>a{
    height: 30px;
    line-height: 28px;
    padding: 6px 12px 6px;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}
.design-info .use_design {
    clear: both;
    padding: 20px 0;
}
.design-info .use_design>button {
    min-width: 150px;
    border-radius: 0;
    box-shadow: none;
    border: 0px;
}
.design-info .list-media-items {
    clear: both;
    padding: 20px 0px;
}
.design-info .list-media-items .item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.designbold-items.attachments-browser .attachments .item {
    position: relative;
    float: left;
    padding: 8px;
    margin: 0;
    color: #444;
    cursor: pointer;
    list-style: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 20%;
    box-sizing: border-box;
}
.designbold-items.attachments-browser .item.selected{
    box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #0073aa;
}
.designbold-items.attachments-browser .item.selected .check{
    background-color: #0073aa;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0073aa;
}
.designbold-items.attachments-browser .item .check {
    display: none;
    height: 24px;
    width: 24px;
    padding: 0;
    border: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    outline: 0;
    background: #eee;
    cursor: pointer;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0,0,0,.15);
}
.designbold-items.attachments-browser .check .media-modal-icon {
    display: block;
    background-position: -1px 0;
    height: 15px;
    width: 15px;
    margin: 5px;
}
.designbold-items.attachments-browser .item.selected .check .media-modal-icon{
    background-position: -21px 0;
}
.designbold-items.attachments-browser .media-modal-icon {
    background-image: url(../images/uploader-icons.png);
    background-repeat: no-repeat;
}
.designbold-items.attachments-browser .item.selected .check{
    display: block;
}
.designbold-items.attachments-browser .attachments .item .thumbnail {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: opacity .1s;
}
.designbold-items.attachments-browser .attachments .item .thumbnail .centered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(50%,50%);
}
.designbold-items.attachments-browser .attachments .item .thumbnail .centered img {
    transform: translate(-50%,-50%);
}

.designbold-items.attachments-browser .attachments .item .thumbnail img {
    position: absolute;
}
.designbold-items.attachments-browser .attachments .item .thumbnail img {
    top: 0;
    left: 0;
}
body.dbwp5 .media-frame-content{ bottom: 0; }
body.dbwp5 .media-frame-toolbar{ display: none; }
.details.design-info .free-design, .details.design-info .premium-design {
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
    color: #0085ba;
}

#design_info_notification {
    padding: 0;
    margin: 0;
    background-color: rgba(19, 18, 18, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    display: none; 
}

#small_notification {
    display: block;
    position: absolute;
    padding: 50px 20px 20px 20px;
    width: 600px;
    height: 300px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    margin: auto;
    z-index: 9999;
}

#small_notification .db-loading {
    right: 0;
    background-color: initial;
}
#small_notification .db-loading>p{
    position: absolute;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    bottom: 40px;
    left: 0;
    right: 0;
}

.designbold-items.attachments-browser .toolbar {
    display: inline-block;
    width: 100%;
}
.designbold-items.attachments-browser .toolbar ul {
    float: right;
    margin: 0;
    padding: 6px;
    box-shadow: 3px 1px 6px -1px #cccccca6;
}
.designbold-items.attachments-browser .toolbar li {
    display: inline-block;
    float: left;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 10px;
    line-height: 24px;
}
.designbold-items.attachments-browser .toolbar .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}
.designbold-items.attachments-browser .toolbar .avatar>img {
    max-width: 100%;
}
.designbold-items.attachments-browser .toolbar .close {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #ccc;
    top: 5px;
}
.designbold-items.attachments-browser .toolbar .close>a {
    position: absolute;
    top: -6px;
    left: 3px;
}
.designbold-items.attachments-browser .toolbar .close>a:focus {
    outline: 0;
    box-shadow: none;
}

/*@media only screen and (min-width: 1800px){
    .designbold-items.attachments-browser .attachments .item {
        width: 11.11%;
    }
}
@media only screen and (max-width: 1650px){
    .designbold-items.attachments-browser .attachments .item {
        width: 12.5%;
    }
}
@media only screen and (max-width: 1500px){
    .designbold-items.attachments-browser .attachments .item {
        width: 14.28%;
    }
}*/
@media only screen and (min-width: 1350px){
    .designbold-items.attachments-browser .attachments .item {
        width: 16.66%;
    }
}
@media only screen and (max-width: 1200px){
    .designbold-items.attachments-browser .attachments .item {
        width: 20%;
    }
}
@media only screen and (max-width: 810px){
    .designbold-items.attachments-browser .attachments .item {
        width: 33.33%;
    }
}
@media only screen and (max-width: 765px){
    .designbold-items.attachments-browser .attachments .item {
        width: 50%;
    }
}
@media only screen and (max-width: 640px){
    .designbold-items.attachments-browser .attachments .item {
        width: 20%;
    }
}
@media only screen and (max-width: 600px){
    .designbold-items.attachments-browser .attachments .item {
        width: 25%;
    }
}
@media only screen and (max-width: 480px){
    .designbold-items.attachments-browser .attachments .item {
        width: 33.33%;
    }
}
@media only screen and (max-width: 350px){
    .designbold-items.attachments-browser .attachments .item {
        width: 50%;
    }
}